.ImgSlider {
    width: 100%;
    height: 100vh;
}

.titleimage {
    height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1716539/pexels-photo-1716539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover; 
    background-position: center;
    position: absolute;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .titleimage {
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 100%;
        display: none;
    }

    .ImgSlider {
        background-image: url("https://images.pexels.com/photos/1716539/pexels-photo-1716539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 50vh;
    }
}