.SunglassItems {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Item1 , .Item2 , .Item3 , .Item4{
    background-size: cover;
    width: 350px;
    height: 350px;
    background-image: url("https://images.pexels.com/photos/1781983/pexels-photo-1781983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
}