.navBox {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color:white;
    position: fixed;
}

.title {
    width: 40%;
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
    align-items: center;
}

.navItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navItem1 {
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s ease;
}
.navItem2 {
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s ease;
}
.navItem3 {
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s ease;
}

.navItem1:hover {
    color: white;
    background-color: black;
}
.navItem2:hover {
    color: white;
    background-color: black;
}
.navItem3:hover {
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}
