.footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}